<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/cuerpo.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Imagenes | LM Gallery</title>
</head>
<body>
    <header>
        <h2>LM Galery</h2>
        <nav>
            <ul>
                <li title="Inicio"><a href="/"><span class="material-symbols-outlined">home</span></a></li>
                <li title="Ver imagenes"><a href="/imagenes"><span class="material-symbols-outlined">photo_library</span></a></li>
                <li title="Agregar nueva imagen"><a href="/enviar"><span class="material-symbols-outlined">add_photo_alternate</span></a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="photo-container">
            <% for(var i = 0; i < img.length; i++){ %>
                <div class="publicacion">
                    <div class="info">
                        <b title="<%= img[i].propietario%>"><p><%= img[i].propietario%></p></b>
                    </div>
                    <img src="<%= img[i].img_ruta%>">
                    <div class="img-info">
                        <p class="titulo" title="<%= img[i].titulo%>"><b><i><%= img[i].titulo%></i></b></p>
                        <p class="descripcion" title="<%= img[i].descripcion%>"><%= img[i].descripcion%></p>
                    </div>
                </div>
            <% } %>
        </div>
    </main>
</body>
</html>